.formHeading{
    color: #F5530B;
    font-family: calibri;
    font-weight: 700;
    font-style: normal;
}
.formHeadingBlack{
    color: rgb(10, 10, 10);
    font-family: calibri;
    font-weight: 700;
    font-style: normal;
    border-bottom: 2px solid #F5530B;
    margin-top: 40px;
}

.left{
    flex: 0.4;
    height: 100%;
    overflow: scroll;
}

.left::-webkit-scrollbar{
    display: none;
}

.formSection{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 5vh 40px;
    box-shadow: -2px 6px 25px -4px darkslategrey;
    padding: 20px;
    height: 90vh;
}

.form{
    display: block;
}

.servicesProvide{
    display: block;
    height: fit-content;
    width: 100%;
}

.addimage{
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.addimage::-webkit-scrollbar{
    display:none;
}

.popupAddService{
    background-color: lightgray;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 160px);
    padding: 20px;
    box-shadow: -2px 6px 18px -4px rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content:center;
}

.popupNot{
    display: none;
}

.AddServiceButton{
    width: 100% !important;
    padding:10px !important;
    border:2px solid #F5530B !important;
    background-color:none !important;
    color: Black !important;
    font-family: Montserrat Alternates !important;
    border-radius: 50px !important;
    margin-top: 10px !important;
}



.CancelServiceButton{
    width: 100% !important;
    padding:10px !important;
    border:2px solid red !important;
    background-color:none !important;
    color: Black !important;
    font-family: Montserrat Alternates !important;
    border-radius: 50px !important;
    margin-top: 10px !important;
}

.inputService
{
    width: 100%;
    border: none; outline: none;
    border-bottom: 2px solid darkslategrey ;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: darkslategrey;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0px;
    background-color:lightgray;
}



.input{
    width: 100%;
    border: none; outline: none;
    border-bottom: 2px solid darkslategrey ;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: darkslategrey;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0px;
}

.popupAddService{
    background-color: lightgray;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 160px);
    padding: 20px;
    box-shadow: -2px 6px 18px -4px rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content:center;
}

.popupNot{
    display: none;
}

.AddServiceButton{
    width: 100% !important;
    padding:10px !important;
    border:2px solid #F5530B !important;
    background-color:none !important;
    color: Black !important;
    font-family: Montserrat Alternates !important;
    border-radius: 50px !important;
    margin-top: 10px !important;
}

.CancelServiceButton{
    width: 100% !important;
    padding:10px !important;
    border:2px solid red !important;
    background-color:none !important;
    color: Black !important;
    font-family: Montserrat Alternates !important;
    border-radius: 50px !important;
    margin-top: 10px !important;
}

.inputService
{
    width: 100%;
    border: none; outline: none;
    border-bottom: 2px solid darkslategrey ;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: darkslategrey;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0px;
    background-color:lightgray;
}

.wrapper{
    width: fit-content;
    height: fit-content;
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
}

.inputHeading{
    width: 100%;
    border: none; outline: none;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: #F5530B;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.selection{
     width: 100%;
     border: none; outline: none;
    border-bottom: 2px solid darkslategrey ;
    font-family: Montserrat Alternates;
    font-weight: 700;
    color: darkslategrey;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0px;
}


.right{
    flex: 0.5;
    background-image:url('/tree.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-color: gray;
    height: 100%;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
}

.button{
    width:80% !important;
    border:2px solid #F5530B !important;
    padding: 10px 5px !important;
    border-radius:50px !important;
    margin: 30px auto !important;
    color: darkslategrey !important;
    font-weight: 700 !important;
    font-family: Montserrat Alternates !important;
}

.buttondiv{
    width:100%;
    display: flex;
    align-items: center;
}

.WhiteHeading{
    color: white !important;
    font-weight: 700 !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    text-align: center;
}

.buttonWhite{
    color: white !important;
    font-weight: 700 !important;
    font-family: Montserrat !important;
    font-style: normal !important;
    border: 2px solid white !important;
    width: 150px !important;
    padding: 10px 15px !important;
    border-radius: 50px !important;
}

.logo{
    width: 60px !important;
    height: 60px !important;
}

.uploadLogo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items:flex-end;
}

.icon{
    margin-top: -18px;
    z-index: 50;
}




@media(max-width:1030px) {
    .formHeading{
        font-size: 24px;
    }
}

@media(max-width:950px) {
    .left{
         overflow: none !important;
         height: fit-content;
         flex: none;
    }
    .right{
         background: none !important;
         height: fit-content;
         flex: none;
    }

    .WhiteHeading{
        color: darkslategrey !important;
    }

    .buttonWhite{
        color: darkslategrey !important;
        border: 2px solid #F5530B !important;
        width: 80% !important;
        margin-bottom: 50px !important;
    }

    .formSection{
        display: block;
        margin: 0px !important;
        box-shadow: none !important;
        padding: 40px 10px !important;
    }
}


/* design for form 2 below that */
