.name{
    font-family: calibri;
    font-weight: 700;
    font-style: normal;
    color: #2D2D2D;
    margin-left: 20px;
}

.rating{
    color: rgb(255, 173, 77);
    margin-right: 20px;
}

.detailsSection{
   color: #7D7D7D;
   font-family: calibri;
    font-weight: 700;
    font-style: normal;
    margin-right: 20px;
    margin-left: 20px;
}

.dates{
    display: flex;
    color: #2D2D2D;
    align-items: center;
    margin-left: 20px;
}

.sd, .history{
    font-family: calibri;
    font-weight: 800;
    font-style: normal; 
}

.user{
    font-family: Calibri;
    font-weight: 700;
    font-style: normal;
    margin-right: 20px;
}


.ongoing{
    color: #F5530B;
    font-family: calibri;
    font-weight: 800;
    font-style: normal;
}

.nameline, .detail, .datesName{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.card{
    box-shadow: 4px 4px 30px  rgb(212, 211, 211);
    border-radius: 20px;
    width: 400px;
}

.image{
    width: 400px;
}

.button{
    width: 90% !important;
    background-color: #fff !important;
    border:2px solid #F5530B !important;
    border-radius:5px !important;
    padding: 10px 0px !important;
    margin-left: 5% !important;
    margin-bottom: 15px !important;
}

@media(max-width:420px)
{
    .image{
        width:320px;
        height: auto;
    }
    .card{
        width: 320px;
    }

    .nameline, .detail, .datesName{
        display: block;
        text-align: left;
    }

    .user, .rating{
        margin-right: 0px;
        margin-left: 20px;
    }

}